li
{
	list-style: none;
}

a
{
	text-decoration: none;
}

.pink
{
	color: #C865A4!important;
}
header
{
	background-image: url("img/bg-header.jpg");
	width: 100%;
	height: 540px;
	background-size: cover;
	text-align: center;
}

.container
{
	width: 100%;
	/*padding: 0 15px;*/
	margin: 0 auto;
}
.header-left
{
	float: left;
}
.header-left img
{
	height: 80px;
	width: 167.03297424316406px;
	margin-left: 100px;
	top: 10px;
	border-radius: 0px;

}
.header-right
{
	float: right;
}
.header-list 
{
	float: left;
	width: 500px;
	height: 34px;
	top: 33px;
}

.header-list li
{
	float: left;
	padding-right: 54px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	line-height: 34px;
	text-align: center;
	color: white;
}

.header-list a
{
	color: white;
}

.header-btn
{
	float: right;
	width: 135px;
	height: 50px;
	margin-top: 15px;
	margin-right: 102px;
	background-color: #C865A4;
}

.btn-po
{
	width: 112px;
	height: 29px;
	margin: 8px auto!important;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #F7EA00;
}

.heading-text h1
{
	width: 329px;
	height: 122px;
	margin: 0 auto;
	padding-top: 250px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 800;
	font-size: 100px;
	line-height: 122px;
	/* identical to box height */
	
	text-align: center;
	
	color: #C865A4;
	text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.6);

}

body
{
	background-color: #000000;
}

.content-first
{
	margin: 50px;
	display: inline-block;
}

.content-img img
{
	display: block;
	float: left;
	width: 250px;
	padding-left: 125px;
}

.content-text
{
	display: block;
	float: right;
	width: 50%;
	text-align: justify;
	color: white;
	line-height: 20px;
}

.content-second
{
	margin: 0px 50px 50px 50px;
	display: inline-block;
}

.content-text-left
{
	display: block;
	float: left;
	width: 50%;
	text-align: justify;
	color: white;
	line-height: 20px;
}

.content-img-right img
{
	display: block;
	float: right;
	width: 300px;
	padding-right: 125px;
	padding-top: 50px;
}

.content-third
{
	margin: 0px 50px 50px 50px;
	display: inline-block;
}

.content-img-third img
{
	display: block;
	float: left;
	width: 250px;
	padding-left: 125px;
	padding-top: 40px;
}

.btn:hover
{
	opacity: 1;
	background-color: #fd79a8;
}

.btn:active
{
	cursor: pointer;
	background-color: #fd79a8;
}

.btn:focus
{
	background-color: #fd79a8;
}

.btn-home
{
	display: block;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	text-align: center;
	background-color: #C865A4;
	width: 180px;
	height: 50px;
}

.btn-home p
{
	display: block;
	padding: 15px 10px;
	text-align: center;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	/* identical to box height */
}

.btn-home a
{
	color: #F7EA00;
}

hr
{
	width: 95%;
}

footer
{
	background: linear-gradient(180deg, rgba(37, 37, 37, 0) 0%, #723E3E 100%);
}

.footer
{
	display: inline-block;
	width: 100%;
	text-align: center;
	line-height: 30px;
}

.footer-left
{
	display: block;
	float: left;
	width: 33.33%;
	color: white;
}

.footer-center
{
	display: block;
	float: left;
	color: white;
	width: 33.33%;
}

.footer-right
{
	display: block;
	float: left;
	color: white;
	width: 33.33%;
}

.hr-li
{
	width: 50%;
}

.copyright
{
	text-align: center;
	color: white;
	padding: 25px;
	margin: 0px;
}

@media all and (max-width: 1000px)
{
	header
	{
		width: 100%;
		height: 450px;
	}
	
	.header-left img
	{
		height: 80px;
		width: 167.03297424316406px;
		margin-left: 30px;
		top: 10px;
		border-radius: 0px;
	
	}
	
	.header-list li
	{
		font-size: 40px;
		padding-right: 15px;
	}
	
	.header-btn
	{
		width: 200px;
		margin-right: 50px;
	}
	
	.header-btn p
	{
		font-size: 36px;
	}
	

	.heading-text h1
	{
		margin-top: 0px;
		padding-top: 160px;
		font-size: 85px;
	}
	.content-img
	{
		width: 100%;
	}
	
	.content-img img
	{
		display: block;
		padding: 35px !important;
		width: 90%;
		margin: 0 auto !important;
	}
	
	.content-text
	{
		width: 100%;
	}
	
	.content-text p
	{
		width: 100%;
		font-size: 36px;
		line-height: 50px;
	}
	
	.content-text-left
	{
		width: 100%;
		font-size: 36px;
		line-height: 50px;
	}
	
	.content-img-right
	{
		width: 100%;
	}
	
	.content-img-right img
	{
		display: block;
		padding: 35px !important;
		width: 90%;
		margin: 0 auto !important;
	}
	
	.content-img-third
	{
		width: 100%;
	}
	
	.content-img-third img
	{
		display: block;
		padding: 35px !important;
		width: 90%;
		margin: 0 auto !important;
	}
	
	.btn:hover
	{
		opacity: 1;
		background-color: #fd79a8;
	}
	
	.btn:active
	{
		cursor: pointer;
		background-color: #fd79a8;
	}
	
	.btn:focus
	{
		background-color: #fd79a8;
	}
	
	.btn-po
	{
		width: 150px;
		height: 29px;
		margin: 8px auto!important;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 800;
		font-size: 24px;
		line-height: 29px;
		text-align: center;
		color: #F7EA00;
	}
	
	.btn-home
	{
		display: block;
		margin-top: 0px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 60px;
		text-align: center;
		background-color: #C865A4;
		width: 50%;
		height: 100px;
	}
	
	.btn-home p
	{
		display: block;
		padding: 15px 10px;
		text-align: center;
		
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 48px;
		/* identical to box height */
	}
	
	.footer-left
	{
		font-size: 40px;
		width: 100%;
		line-height: 85px;
	}
	
	.footer-center
	{
		font-size: 40px;
		width: 100%;
		line-height: 85px;
	}
	
	.footer-right
	{
		font-size: 40px;
		width: 100%;
		line-height: 85px;
	}
	
	.copyright
	{
		text-align: center;
		color: white;
		padding: 25px;
		margin: 0px;
		font-size: 32px;
	}
	
}